*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans',sans-serif;
}
.card{
    height: 350px;
    width: 600px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.card img{
    position: absolute;
    left: 0;
    top: 0;
}
.card-content{
    width: 100%;
    height: 100%;
    margin-left: 25%;
    background: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.5s ease;
}
.card-content h1{
    color: #000000;
}
.card-content p{
    font-size: 1.2em;
    color: #000000;
    padding-bottom: 5px;
}
.divider{
    width: 100%;
    height: 2px;
    background: #000000;
    position: relative;
    left: -30px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}
.content{
    list-style: none;
    margin-bottom: 30px;
}
.content li{
    margin: 5px 0;
}
.content a{
    font-size: 1em;
    color: #000000;
    text-decoration: none;
}
.social{
    position: absolute;
    bottom: 30px;
}
.social a{
    display: inline-block;
    height: 45px;
    width: 45px;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
    font-size: 1.4em;
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.card:hover .card-content{
    margin-left: 0;
}
.card:hover .divider{
    left: 0;
}
.social a:hover{
    box-shadow: inset 0 50px 0 0 #000000;
    color: #ffffff;
}